<ng-container *ngIf="!isFinished; else finished">
  <div class="header">Reset password</div>

  <form [formGroup]="passwordForm">
    <mat-form-field>
      <input matInput type="password" id="setup_password" placeholder="Password" autocomplete="new-password" formControlName="password" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" id="setup_confirmpassword" placeholder="Confirm password" autocomplete="new-password" formControlName="confirmpassword" required>
    </mat-form-field>
    
    <div>
      <button mat-flat-button color="accent" type="submit" (click)="setPassword()" [disabled]="!passwordForm.valid">Reset password</button>
    </div>

    <div *ngFor="let err of resetPassword_Errors;">
      <div>
        {{err}}
     </div>
    </div>

  </form>
</ng-container>

<ng-template #finished>
  <div class="header">Your password is set up!</div>
  <button mat-flat-button color="primary" routerLink="/login">Login</button>
</ng-template>
