<mat-toolbar color="primary">
  <span class="center">{{userEmail$ | async}}</span>
  <span class="right btn" (click)="logout()">Logout</span>
  <span class="btn" routerLink="/app/dashboard">Home</span>
</mat-toolbar>

<mat-card>

  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let item of menuItems" [routerLink]="item"
      routerLinkActive #link="routerLinkActive"
      [active]="link.isActive">{{ item | titlecase }}</a>
  </nav>
  <router-outlet></router-outlet>
  
  <!-- <h2>Active sessions</h2>

  <mat-table [dataSource]="sessions">

    <mat-header-row *matHeaderRowDef="['email', 'role', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['email', 'role', 'actions']"></mat-row>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef class="wide">User email</mat-header-cell>
      <mat-cell *matCellDef="let session" class="wide"> {{session.Id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
      <mat-cell *matCellDef="let session"> {{session.userId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="pull-right">Actions</mat-header-cell>
      <mat-cell *matCellDef="let session" class="pull-right">
        <button mat-icon-button color="primary" (click)="confirmDelete(session.userId)">Destroy</button>
      </mat-cell>
    </ng-container>

  </mat-table> -->

</mat-card>
