<h2>Change password</h2>

<form [formGroup]="changePasswordForm">

  <mat-form-field>
    <input matInput type="password" id="old_password" placeholder="Old password" autocomplete="new-password" formControlName="oldPassword" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="new_password" placeholder="New password" autocomplete="new-password" formControlName="newPassword" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" id="new_confirmpassword" placeholder="Confirm password" autocomplete="new-password" formControlName="confirmPassword" required>
  </mat-form-field>

  <div class="controls">
    <button mat-raised-button color="primary" [disabled]="!changePasswordForm.valid || inProgress" (click)="submit()">{{submitText}}</button>
    <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
  </div>

</form>
